
.icon-off:before { content: '\e800'; } /* '' */
.icon-cog-outline:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-dollar:before { content: '\e804'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */