:root{
    --banner-data-space: 50px;
    --banner-data-space-margin: 5px;
    --banner-height: calc(50px + var(--banner-data-space) + ( 2 * var(--banner-data-space-margin)));
    --banner-menu-line-height: 50px;
    --footer-height: 50px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.nohover:hover{
    background-color: #00000000 !important;
}

#backgroundContainer{
    position: fixed;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(var(--background-gradient-color), var(--background-gradient-color) ), var(--background-img);
}
.container{
    margin: 0;
    padding: 0;
}

#logo{
    position: absolute;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1;
}
#banner{
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--banner-height);
    background-color: var(--banner-color);
    padding-left: calc(10% - 15px);
    padding-right: calc(10% - 15px);
    z-index:2;
}
#BannerDataSpace{
    display: block;
    height: calc(var(--banner-data-space));
    width: calc(100% - ( calc(10% - 15px) * 2) - 10px );
    line-height: calc(var(--banner-data-space) - 10px );
    padding: var(--banner-data-space-margin);
    color: #ffffff;
}
img.pagelogo{
    display: block;
    height: var(--banner-data-space);
    width: var(--banner-data-space);
    cursor: pointer;
}
.userlogo{
    position: relative;
    float: left;
}
.userlogo:hover .cover{
    /* top: 0; */
    opacity: 1;
    height: calc(var(--banner-data-space) - 10px );
    width: calc(var(--banner-data-space) - 10px );
    transform: scale(1);
}
.cover{
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0;
    right: 0;
    height: calc(var(--banner-data-space) - 10px );
    width: calc(var(--banner-data-space) - 10px );
    background-color: var(--hover-color);
    overflow: hidden;
    border-radius: 2em;
    text-align: center;
    transform: scale(0);
    transform-origin: center center;
    transition: .2s;
    cursor: pointer;
}
img.userlogoimg {
    display: block;
    height: calc(var(--banner-data-space) - 10px );
    width: calc(var(--banner-data-space) - 10px );
    border-radius: 2em;
    float: left;
    cursor: pointer;
}
/* img.userlogoimg:hover {
    -webkit-filter: saturate(2);
    filter: saturate(2);
} */
.userdata{
    padding: 5px;
    width: auto;
    height: calc(var(--banner-data-space) - 10px );
}
.userdata > .banner-icons-etc{
    display: none;
    height: 100%;
    font-size: 30px;
    float: right;
    margin-left: 5px;
    cursor: default;

}
.banner-icons-etc span{
    font-size: 20px;
}
.icon:hover{
    cursor: pointer;
    color: var(--hover-color);
    transition: 0.2s;
}
.icon.logout:hover{
    color: #FF1111;
    transition: 0.2s;
}
#banner .menu{
    display: block;
    height: var(--banner-menu-line-height);
}
#banner .menu a{
    line-height: calc( var(--banner-menu-line-height) - 30px )!important;
}

.left{
    float: left;
    margin: 0;
}
.right{
    float: right;
    margin: 0;
}


/* rewir Julka*/
#mainbody{
    display: block;
    min-height: calc(100vh - var(--banner-height) - var(--footer-height));
    height: 100%;
    width: 80%;
    margin-top: var(--banner-height);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color:  var(--mainbody-color);
}
#pracownicy{
    float: left;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}
#praco_logo{
    top: 20px;
    font-size: 32px;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--mainbody-font-color);
    text-shadow: 2px 2px black;

}

.osoba{
    background-color: var(--link-color);
    padding: 5px;
    font-size: 18px;
    color: var(--mainbody-font-color);
    text-align: right;
    
}
.button1{
    float: left;
    border: 1px solid rgb(0, 0, 0);
    /*border-radius: 4px; */
    padding: 5px;
    background-color: var(--menu-background-collor);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}
.button1:hover{
    background-color: rgb(131, 199, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}


#person{
    float: right;
}
.ikona{
    float: right;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    
}
.konto{
    background-color: var(--menu-background-collor);
    border-block: 2px dotted var(--background-color);
    border-left: 2px dotted var(--background-color);
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: var(--mainbody-font-color);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 30px;
    width: 150px;

    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.konto span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.konto span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .konto:hover span {
    padding-right: 40px;
  }
  
  .konto:hover span:after {
    opacity: 1;
    right: 0;
  }
tr{
    text-align: left;
    width: 50px;
}
th{
    width: 200px;
}

.kolumnaB td{
    width: 300px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: var(--mainbody-font-color);
    background-color: var(--hover-color);  
}
.kolumnaB th{
    width: 400px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: var(--mainbody-font-color);
      
}

  .kolumnaB{
    float: left;
    width: 50%;
    
}



.kolumnaWyplaty{
    float: left;
    width: 100%;
}
.kolumnaWyplaty th{
    
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: var(--mainbody-font-color);
      
}
.kolumnaWyplaty td{
    width: 300px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: var(--mainbody-font-color);
    background-color: var(--hover-color);  
}



.kolumnaA td{
    width: 400px;
    color: var(--footer-color);
}

  .kolumnaA{
    float: left;
    width: 50%;
}
  .osoba_detail{
    content: "";
    display: table;
    clear: both;
    color: var(--mainbody-font-color);
    
}
  
  input[type=text] {
    background-color: var(--mainbody-color);
    color: var(--mainbody-font-color);
  }

    form.form-example {
        display: table;
    }
    div.form-example {
        display: table-row;
    }

    select{
    width: 310px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--menu-position-border-right-color);
    color: var(--mainbody-font-color);
  }
  input[type=hidden], input[type=text], input[type=email]{
    width: 300px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--menu-position-border-right-color);
    color: var(--mainbody-font-color);
  }
  input[type=checkbox] {
    cursor: pointer;  
  }
  label{
    color: var(--mainbody-font-color); 
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    width: 300px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--menu-position-border-right-color);
    color: var(--mainbody-font-color);
  }
  [type="date"] {
    background:var(--menu-position-border-right-color) url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    width: 300px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: var(--mainbody-font-color);
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  .wyszukaj input[type=text]{
    width: 230px;
    box-sizing: border-box;
    border: 2px solid var(--footer-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--main-color);
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .wyszukaj input[type=text]:focus{
    width: 100%;
  }

/*koniec rewiru Julka*/


#footer{
    display: block;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-color);
    line-height: calc(var(--footer-height)/2);
    color:  #c7c7c7;
    text-align: center;
    
}

a,a:link, a:visited{
    color: var(--a-link-color);
}

a:hover{
    color: var(--a-hover-color);
}

.menu{
    width: calc(80% + 30px);
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.menu ul > li {
    width: auto;
    flex: 1;
}
.menu ul > li > ul {
    visibility: hidden;
    position:absolute;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transition-duration: 0ms;
    transform-origin: 50% 0;
}
.menu ul > li > ul li{
    width: 100%;
}
.menu ul > li:hover > ul{
    display: flex;
    flex-direction: column;
    
    visibility: visible;
    position: relative;
    transition-delay: 100ms;
    transition-duration: 250ms;
    transform: scaleY(1);
}
.menu a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 15px;
    line-height: calc(var(--banner-height) - 30px);
    color:#ffffff;
    text-align: center;
}
.menu a:hover{
    background-color: var(--menu-position-hover-background-color);
}
.menu .drop-down li > a{
    background-color: var(--menu-background-color);
}
.menu .drop-down li > a:hover{
    background-color: var(--menu-position-hover-background-color);
}




#pracownicy {
    width: 100%;
    border: 0px;
}
#pracownicy > table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 0px;
}
#pracownicy > table tbody{
    min-width: 100%;    
    max-width: 100%;
}

#pracownicy > table tr{
    height: 40px;
    max-width: 100%;
    text-align: center;
}

#pracownicy > table tr:first-child{
    background-color: #00000030;
    
}
#pracownicy > table tr:first-child .Clicked{
    background-color: #00000090;
    
}
#pracownicy > table tr:first-child .Clicked::after{
    content: '\2193';
    
}

#pracownicy > table td{
    height: 40px;
    border: 0px;
    margin: 0px;
    cursor: default;
    transition: 0.5s;

}
#pracownicy > table td:hover{
    background-color: #00000060;
    color: var(--hover-color);
    height: 40px;
    transition: 0.5s;

}
#pracownicy > table td.przycisk{
    cursor: pointer; 
}
#pracownicy > table td.przycisk:hover{
    cursor: pointer;
    color: var(--hover-color);
    transition: 0.5s;  
}

/*JS*/
.tooltip {
    position: relative;
    display: block;
    line-height: 38px;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1;
  }
.tooltip .tooltiptext{
    visibility: hidden;
    width: auto;
    /* width: 70px; */
    background-color: black;
    color: var(--mainbody-font-color);
    text-align: center;
    border-radius: 4px;
    padding: 0px 5px;
    line-height: 30px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
   

    white-space:nowrap;
    max-width:none;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
.tooltiptext:hover {
    display: none;
}
/**/

#pracownicy > table td.przycisk.delete:hover{
    cursor: pointer;
    color: #FF1111;
    transition: 0.5s;
}