:root{
    --main-color: #004299; 
    --hover-color: #1d68ca;
    --mainbody-color: #ffffff6f;
    --background-color: #ffffff;
    --footer-color: #1f1f1f;
    --footer-text-color: #FFFFFF;
    --link-color: #0059ff;
    --background-img: url(../img/ep_naturalblack.png);
    --a-link-color: #8197d3;
    --a-hover-color: #976c95;
    --banner-color: #000000;
    --menu-link-color: #ffffff;
    --menu-background-color: var(--banner-color);
    --menu-position-border-right-color: #1d68ca;
    --menu-position-hover-background-color: #1d68ca;

    font-family: 'Barlow','Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
    
}