:root{
    --main-color: #ffbb00;    
    --mainbody-color: #ffbb00;
    --background-color: #503000;
    --footer-color: #1f1f1f;
    --footer-text-color: #FFFFFF;
    --link-color: #ff9900;
    --background-img: url(../img/IMG_4851.png);
    --a-link-color: #8197d3;
    --a-hover-color: #976c95;



    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}